<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CommerceBuilder.Shipping.Providers.FedEx.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CommerceBuilder.Shipping.Providers.FedEx.Properties.Settings>
            <setting name="CommerceBuilder_FedEx_RateServiceWebReference_RateService"
                serializeAs="String">
                <value>https://gatewaybeta.fedex.com:443/web-services</value>
            </setting>
        </CommerceBuilder.Shipping.Providers.FedEx.Properties.Settings>
    </applicationSettings>
</configuration>